!!! 5

%html
  %head
    %meta{ charset: "utf-8" }
    %title AdSense Status Board Panels
    %script{ src: "http://code.jquery.com/jquery-3.3.1.min.js" }
    %link{ rel: :stylesheet, href: "/styles/layout.css" }

  %body

    = yield

    %a{ href: "https://github.com/jsmecham/adsense-status-board-panel" }
      %img{ src: "https://aral.github.io/fork-me-on-github-retina-ribbons/right-red@2x.png", style: "position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px", alt: "Fork me on GitHub" }
