
%header

  %h1 AdSense Status Board Widgets

%main

  %button{ onclick: "window.location.href='https://github.com/jsmecham/adsense-status-board-widget'", style: "background-color: rgb(128, 128, 128); font-size: 16px" }
    More Information…
  %button{ onclick: "window.location.href='auth'", style: "font-size: 16px" }
    Connect to Google
