!!! 5

%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ "application-name" => "AdSense Earnings", data: { "allows-resizing" => "NO", "default-size" => "4,3", "allows-scrolling" => "NO" } }
    %script{ src: "//code.jquery.com/jquery-2.1.0.min.js" }
    %script{ src: "/scripts/refresh.js" }
    %link{ rel: :stylesheet, href: "/styles/widget.css" }

  %body
    .widget
      = yield
